.contenedorPrincipal{
    width: 350px;
    height: 550px;
    border: 6px solid green;
    }
    .contenedorHeader{
    width: 340px;
    height: 60px;
    border: 6px solid violet;
    }
    
    .contenedorNav{
    width: 340px;
    height:30px;
    border: 6px solid blue;
    }
    .contenedorArticle{
    width: 250px;
    height: 380px;
    border: 8px solid black;
    }
    
    .contenedorHeaderpequeño{
    width: 240px;
    height:58px;
    border: 6px solid blue;
    margin-top: -10px;
    }
    .contenedorSection1{
    width: 240px;
    height:50px;
    border: 6px solid violet;
    margin-top: 100px;
    }
    .contenedorSection2{
    width: 240px;
    height:50px;
    border: 6px solid violet;
    margin-top: 0px;
    }
    .contenedorFooterpequeño{
    width: 240px;
    height:30px;
    border: 6px solid hsl(120, 100%, 25%);
    margin-top: 2px;
    }
    .contenedorDiv{
    width: 80px;
    height: 370px;
    border: 6px solid rgb(130, 197, 113);
    margin-left: 260px;
    margin-right:60px;
    margin-top: -425px;
    }
    .contenedorAside1{
    width: 80px;
    height: 100px;
    border: 6px solid rgb(130, 197, 113);
    margin-left: 230px;
    margin-right:60px;
    margin-top: -420px;
    }
    .contenedorAside2{
    width: 40px;
    height: 300px;
    border: 6px;
    }
    .contenedorultimoFooter{
    width: 348px;
    height: 40px;
    border: 6px solid blue;
    margin-top: 27px;
    margin-left: -10px; 
    margin-right: 120px; 
    flex-wrap:24;
    padding-right: -10px;
    padding-left: -10x;
    }
