
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Monserrat",sans-serif;
}
.Caja_Principal{
    display:flex;
    flex-direction:column;
    gap: 1px;
    justify-content:center;
    border: 5px solid rgb(167, 150, 150);
    padding: 2px;
    height: 500px;
    width:300px;
}
Header{
    height: 70px;
    border:3px solid greenyellow
}
Nav{
    height: 50px;
    border:3px solid rgb(221, 55, 201)
}
.ARTICLEDIV{
    padding:4px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}
    

.Article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:170px;
    padding: 2px;
    height:360px;
    border:4px solid blue
}
#Header{
    height: 40px;
    border: 3px solid rgb(99, 182, 99);
}
#espacioblanco{
    border: 3px solid white;
    height: 150px;

}
Section{
    margin: 1px;
    height: 40px;
    border:3px solid violet
}
footer{
    border:3px solid rgb(157, 226, 161);

}

.Div {
   display: flex;
   flex-direction: column;
   justify-content:space-around;
   width: 90px;
   height: 360px;
   border: 4px solid rgb(80, 78, 197)
}
Aside{
    display: flex;
    flex-direction:column;
   
    margin: 3px;
    flex-grow: 10;

    border:3px solid lightseagreen
}
.Footer{
    height: 40px;
    border:4px solid rgba(33, 94, 8, 0.505)
}

 
 

