.cont_Principal{
    width: 1350px;
    height: 800px;
    border: 6px solid white;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
}  
.borde_negro{
    border: 2px solid #050505; 
    padding: -4px;
    
}
.cont_nav {
    background-color: #000;
    padding: 10px;
    margin-bottom: 20px; 
}
.nav_menu {
    display:flex;
    justify-content: space-around; 
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav_menu,li ,a {
    color: rgb(208, 224, 215);
    text-decoration:solid; 
    font-weight:inherit;
    padding: 10px 20px;
}
h1 {
    margin-left: 490px; 
    font-size: 40px;
    color: rgb(12, 11, 11);
    font-weight: 500px;
}
p {
    font-size: 18px;
   
}
article{
    margin-left: 950px; 
    font-size: 8px;
    color: black;
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 400px;
    height: 40px;
    padding-bottom: 100px;
    letter-spacing: 2px; /* Espaciado entre letras */
    word-spacing: 10px; /* Espaciado entre palabras */
    padding-left: 20px; /* Espacio extra a la izquierda */
    padding-right: 200px;
    
    

}
img {
    float: left; 
    width: 800px; 
    height: 500px; 
    margin-left: 50px; 
    margin-right: 75px;
    margin-top: -600px
}
